<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link href="\main.css" rel="styleSheet">
</head>
<body>
    
    <body class="grey-bg">

      <%- include('nav.ejs', { user: user })%>
      <%= JSON.stringify(글목록) %>
        <div class="detail-bg">
            <div class="chat-screen">

            </div>
          </div>
          <div class="chat-form">
            <input class="chat-input">
            <button class="chat-button">전송</button>
      </div> 

      <script src="https://cdn.jsdelivr.net/npm/socket.io@4.7.2/client-dist/socket.io.min.js"></script>
        <script>
          const socket = io()
          socket.emit('ask-join', '<%= 글목록[0]._id %>')

          document.querySelector('.chat-button').addEventListener('click', function () {
            let chat = document.querySelector('.chat-input').value
            let roomid = '<%= 글목록[0]._id %>'
            let sender = '<%= user._id %>'
            socket.emit('message-send', { room: roomid, msg: chat, sender: sender })
          })

          socket.on('message-broadcast', (data) => {
            const Mine = '<%= user._id %>'
            if(data.sender===Mine){
              document.querySelector('.chat-screen').insertAdjacentHTML('beforeend',
                `<div class="chat-box mine"><span>${data.msg}</span></div>`
              )
            } else {
              document.querySelector('.chat-screen').insertAdjacentHTML('beforeend',
                `<div class="chat-box"><span>${data.msg}</span></div>`
              )
            }
          })
        </script>

    </body>
</body>
</html>