<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link href="\main.css" rel="styleSheet">
</head>
    
    <body class="grey-bg">

      <%- include('nav.ejs')%>

      <input class="search">
      <button class="search-send">검색</button>

      <script>
        document.querySelector('.search-send').addEventListener('click', function(){
          let input_search = document.querySelector('.search').value
          location.href = '/search?val=' + input_search
        })
      </script>



        <div class="white-bg">
          <% for (let i = 0; i < posts.length; i++){ %>
          <div class="list-box">
            <h4><a href="/detail/<%= posts[i]._id %>"><%= posts[i].title %></a></h4>
            <p><%= posts[i].content %></p>
            <a href="/edit/<%= posts[i]._id %>">✏️</a>
            <span class="delete" data-id="<%= posts[i]._id %>">🗑️</span>
          </div>
          <% } %>
        </div>
        <% for (let i = 0; i < Math.ceil(totalItems / 5) ; i++){ %>
          <a class="page-box" href="/list/<%= i + 1 %>">
            <p><%= i + 1 %></p>
          </a>
        <% } %>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> 

        <script>

          axios.get('/URL').then((r)=>{console.log(r) })

          const docu = document.querySelectorAll('.delete');
          for (var i = 0; i < docu.length; i++){
          docu[i].addEventListener('click', function(e){
            fetch('/delete?docid=' + e.target.dataset.id, {
              method : 'Delete',
            })
            .thne((r)=>r.text())
            .thne((r)=>{ console.log(r) 
            })
          })
          }

          fetch('/URL')
          .then((r)=>{
            if(r.status == 200) {
              return r.json()
            } else {
              //alert("")
            }
          })
          .then((result)=>{ 
            //성공시 실행할코드
          }).catch((error)=>{
            //인터넷문제 등으로 실패시 실행할코드
            console.log(error)
          })

          document.querySelectorAll('.delete')[0].addEventListener('click', function(e){
            fetch('/delete?docid=' + e.target.dataset.id, {
              method : 'DELETE',
            })
            .then((r)=>r.text())
            .then((r)=>{
              e.target.parentElement.parentElement.style.display = 'none'
            })
          }) 
        </script>
      </body>

</html>